<div class="card rounded shadow-sm p-3">

  <form [formGroup]="form!">

    <div class="p-3">
      <div class="row">
        <div class="form-group col-md-12">
          <label>Tema</label>
          <input type="text"
                 class="form-control"
                 formControlName="tema"
                 [ngClass]="cssValidator(formGet.tema)"
                 placeholder="Insira o Tema">

          <div class="invalid-feedback"
               *ngIf="formGet.tema.errors?.required">
            Tema é obrigatório.
          </div>

          <div class="invalid-feedback"
               *ngIf="formGet.tema.errors?.minlength">
            Tema deve ter no mínimo 4 caracteres.
          </div>

          <div class="invalid-feedback"
               *ngIf="formGet.tema.errors?.maxlength">
            Tema deve ter no máximo 50 caracteres.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-8">
          <label>Local</label>
          <input type="text"
                 class="form-control"
                 formControlName="local"
                 [ngClass]="cssValidator(formGet.local)"
                 placeholder="">

          <div class="invalid-feedback"
               *ngIf="formGet.local.errors?.required">
            Local é obrigatório
          </div>
        </div>

        <div class="form-group col-md-4">
          <label>Data e Hora</label>
          <input type="datetime"
                 class="form-control"
                 formControlName="dataEvento"
                 [ngClass]="cssValidator(formGet.dataEvento)"
                 value="{{evento.dataEvento | DateTimeFormatPipe}}"
                 placeholder=""
                 bsDatepicker
                 [bsConfig]="bsConfig">

          <div class="invalid-feedback"
               *ngIf="formGet.dataEvento.errors?.required">
            Data e hora é obrigatório
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-2">
          <label>Qtd Pessoas</label>
          <input type="text"
                 class="form-control is-invalid"
                 formControlName="qtdPessoas"
                 [ngClass]="cssValidator(formGet.qtdPessoas)"
                 placeholder="">

          <div class="invalid-feedback"
               *ngIf="formGet.qtdPessoas.errors?.required">
            Qtd Pessoas é obrigatório
          </div>

          <div class="invalid-feedback"
               *ngIf="formGet.qtdPessoas.errors?.max">
            Qtd Pessoas deve ter no máximo 120000 pessoas.
          </div>
        </div>

        <div class="form-group col-md-4">
          <label>Telefone</label>
          <input type="text"
                 class="form-control"
                 formControlName="telefone"
                 [ngClass]="cssValidator(formGet.telefone)"
                 placeholder="(000) 90000-0000">

          <div class="invalid-feedback"
               *ngIf="formGet.telefone.errors?.max">
            Telefone é obrigatório
          </div>
        </div>

        <div class="form-group col-md-6">
          <label>Email</label>
          <input type="text"
                 class="form-control"
                 formControlName="email"
                 [ngClass]="cssValidator(formGet.email)"
                 placeholder="e-mail">

          <div class="invalid-feedback"
               *ngIf="formGet.email.errors?.max">
            E-mail é obrigatório
          </div>
        </div>

        <div class="form-group col-md-6">
          <label>Imagem</label>
          <input type="text"
                 class="form-control"
                 formControlName="imagemURL"
                 [ngClass]="cssValidator(formGet.imagemURL)"
                 placeholder="e-mail">

          <div class="invalid-feedback"
               *ngIf="formGet.imagemURL.errors?.required">
            E-mail é obrigatório
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary me-auto border">
          Cancelar Alteração
        </button>

        <button class="btn btn-success"
                [disabled]="!form.valid"
                (click)="salvarAlteracao()">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Evento
        </button>
      </div>
    </div>
  </form>

</div>

