<div class="card rounded shadow-sm p-3">

  <form [formGroup]="form!">

    <div class="p-3">
      <div class="row">
        <div class="form-group col-md-12">
          <label>Tema</label>
          <input type="text"
                 class="form-control"
                 formControlName="tema"
                 [ngClass]="cssValidator(formGet.tema)"
                 placeholder="Insira o Tema">

          <div class="invalid-feedback"
               *ngIf="formGet.tema.errors?.required">
            Tema é obrigatório.
          </div>

          <div class="invalid-feedback"
               *ngIf="formGet.tema.errors?.minlength">
            Tema deve ter no mínimo 4 caracteres.
          </div>

          <div class="invalid-feedback"
               *ngIf="formGet.tema.errors?.maxlength">
            Tema deve ter no máximo 50 caracteres.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-8">
          <label>Local</label>
          <input type="text"
                 class="form-control"
                 formControlName="local"
                 [ngClass]="cssValidator(formGet.local)"
                 placeholder="">

          <div class="invalid-feedback"
               *ngIf="formGet.local.errors?.required">
            Local é obrigatório
          </div>
        </div>

        <div class="form-group col-md-4">
          <label>Data e Hora</label>
          <input type="datetime"
                 class="form-control"
                 formControlName="dataEvento"
                 [ngClass]="cssValidator(formGet.dataEvento)"
                 value="{{evento.dataEvento | DateTimeFormatPipe}}"
                 placeholder=""
                 bsDatepicker
                 [bsConfig]="bsConfig">

          <div class="invalid-feedback"
               *ngIf="formGet.dataEvento.errors?.required">
            Data e hora é obrigatório
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-2">
          <label>Qtd Pessoas</label>
          <input type="text"
                 class="form-control is-invalid"
                 formControlName="qtdPessoas"
                 [ngClass]="cssValidator(formGet.qtdPessoas)"
                 placeholder="">

          <div class="invalid-feedback"
               *ngIf="formGet.qtdPessoas.errors?.required">
            Qtd Pessoas é obrigatório
          </div>

          <div class="invalid-feedback"
               *ngIf="formGet.qtdPessoas.errors?.max">
            Qtd Pessoas deve ter no máximo 120000 pessoas.
          </div>
        </div>

        <div class="form-group col-md-4">
          <label>Telefone</label>
          <input type="text"
                 class="form-control"
                 formControlName="telefone"
                 [ngClass]="cssValidator(formGet.telefone)"
                 placeholder="(000) 90000-0000">

          <div class="invalid-feedback"
               *ngIf="formGet.telefone.errors?.max">
            Telefone é obrigatório
          </div>
        </div>

        <div class="form-group col-md-6">
          <label>Email</label>
          <input type="text"
                 class="form-control"
                 formControlName="email"
                 [ngClass]="cssValidator(formGet.email)"
                 placeholder="e-mail">

          <div class="invalid-feedback"
               *ngIf="formGet.email.errors?.max">
            E-mail é obrigatório
          </div>
        </div>

        <div class="form-group col-md-6">
          <label>Imagem</label>
          <input type="text"
                 class="form-control"
                 formControlName="imagemURL"
                 [ngClass]="cssValidator(formGet.imagemURL)"
                 placeholder="e-mail">

          <div class="invalid-feedback"
               *ngIf="formGet.imagemURL.errors?.required">
            E-mail é obrigatório
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary me-auto border">
          Cancelar Alteração
        </button>

        <button class="btn btn-success"
                [disabled]="!form.valid"
                (click)="salvarEvento()">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Evento
        </button>
      </div>
    </div>
  </form>

</div>

  <div class="card rounded shadow-sm mt-4" *ngIf="modoEditar">

    <div class="p-3">
      <div class="d-flex border-bottom">
        <h2 class="mr-auto">
          Lotes do Evento
        </h2>
        <h2>
          <i class="fas fa-money-bill-wave"></i>
        </h2>
      </div>

      <p>Clique em Lote para adicionar e preencher novos Lotes</p>

      <div class="form-row p-1">
        <div [formGroup]="form!" class="col">

          <div class="my-3"
               formArrayName="lotes"
               *ngFor="let lote of lotes.controls; let i=index">

            <fieldset [formGroupName]="i" class="form-group">

              <legend class="d-flex justify-content-between capitalize">

                {{ retornaTituloLote(lotes.get(i+'.nome')?.value) }}

                <button class="p-2 btn btn-sm btn-outline-warning mb-1 d-flex"
                        tooltip="Excluir Lote"
                        [adaptivePosition]="false"
                        (click)="removerLote(template, i)"
                        [delay]="500"
                        placement="left">
                  <i class="fa fa-window-close my-1"></i>
                  <b class="ms-1 d-none d-sm-block">Excluir</b>
                </button>
              </legend>

              <div class="row">
                <div class="form-group col-md-4">
                  <label>Nome</label>
                  <input type="text"
                         [ngClass]="cssValidator(lotes.get(i+'.nome')!)"
                         class="form-control"
                         formControlName="nome"
                         placeholder="Lote">
                </div>

                <div class="form-group col-md-4">
                  <label>Quantidade</label>
                  <input type="text"
                         [ngClass]="cssValidator(lotes.get(i+'.quantidade')!)"
                         class="form-control"
                         formControlName="quantidade"
                         placeholder="000">
                </div>

                <div class="form-group col-md-4">
                  <label>Preço</label>
                  <input type="text"
                         currencyMask
                         [options]="{prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left'}"
                         [ngClass]="cssValidator(lotes.get(i+'.preco')!)"
                         class="form-control"
                         formControlName="preco"
                         placeholder="R$ 0,00">
                </div>

                <div class="form-group col-md-4">
                  <label>Data Início</label>
                  <input type="datetime"
                         class="form-control"
                         formControlName="dataInicio"
                         value="{{lotes.get(i+'dataInicio')?.value | date:'dd/MM/yyyy'}}"
                         bsDatepicker
                         (bsValueChange)="mudarValorData($event, i, 'dataInicio')"
                         placeholder="01/01/2021">
                </div>

                <div class="form-group col-md-4">
                  <label>Data Fim</label>
                  <input type="datetime"
                         class="form-control"
                         formControlName="dataFim"
                         value="{{lotes.get(i+'dataFim')?.value | date:'dd/MM/yyyy'}}"
                         bsDatepicker
                         (bsValueChange)="mudarValorData($event, i, 'dataFim')"
                         placeholder="01/01/2021">
                </div>
              </div>

            </fieldset>
          </div>
        </div>
      </div>

    <button (click)="adicionarLote()"
            class="ms-1 my-2 d-flex btn btn-outline-primary">
      <i class="fa fa-plus-circle my-1"></i>
      <b class="ms-1">Lote</b>
    </button>
  </div>

  <div class="card-footer">
    <div class="d-flex">
      <button class="btn btn-outline-secondary me-auto border">
        Cancelar Alteração
      </button>

      <button [disabled]="!form.controls['lotes'].value"
              class="btn btn-success"
              (click)="salvarLotes()">
        Salvar Lotes
      </button>
    </div>
  </div>

</div>
<br>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar o lote {{this.loteAtual.nome}}?</p>
    <button type="button" class="btn btn-default" (click)="confirmDeleteLote()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="declineDeleteLote()">Não</button>
  </div>
</ng-template>
